
/*
passport-add.shtml
*/
.passport-add .form{padding-top:20px;}
.passport-add .title{padding:17px 0 8px 13px;color:#666666;font-size:13px;}
.passport-add .country-form-line .text{font-size:14px;}
.passport-add .country-form-line .text:after{position:absolute;content:'';right:16px;top:50%;margin-top:-8px;}
.passport-add .country-form-line .lab{width:90px;}
.passport-add .num-form-line .text{font-size:15px;}
.passport-add .country-mlines .lab{width:90px;}
.passport-add .checkbox-line{padding:11px 0 0 15px;font-size:14px;height:25px;line-height:25px;color:#666666;font-size:14px;}
.passport-add .btn-line{padding-top:20px;}
.passport-add .btn-green{margin-bottom:15px;}


/*
passport-manage.shtml
*/
.passport-manage .form{padding-top:35px;}
.passport-manage .add-passport{padding-left:30px;color:#000000;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaBAMAAABbZFH9AAAAElBMVEUAAACtra2tra2tra2tra2tra0FIeHrAAAABXRSTlMA5slIPyHHXaoAAAAzSURBVBjTYwADFiUHBgRgDBVA4rGGBgwMzykUAVQYRJF4gWg8QySe8IC5GmcIMgsagGkAC6IdfYmVjI0AAAAASUVORK5CYII=) 5px center no-repeat;background-size:13px 13px;}
.passport-manage .title-line{position:relative;padding:9px 40px 13px 30px;border-bottom:1px solid #DEDFE0;}
.passport-manage .title-line:last-child{border-bottom:0 none;}
.passport-manage .main-title{line-height:28px;}
.passport-manage .sub-title{font-size:15px;color:#A6A6A6;}
.passport-manage .checkbox{position:absolute;right:16px;top:50%;margin:-12px 0 0 0;}
.passport-manage .ico-edit{position:absolute;top:50%;margin-top:-8px;left:4px;width:14px;height:17px;background-position:0 -26px;}
.passport-manage .ico-edit.press{background-position:-15px -26px;}
