<div style="line-height:1.8em; padding: 0 30px;">
<h1 style="text-align: center;padding: 20px 0;">境外购物退税申请协议</h1>
<p>
	天津渤海通汇货币兑换有限公司（以下简称“通汇货币”）是本次退税业务的代理机构，财付通支付科技有限公司（以下简称“财付通”）是本次退税业务支付结算服务方。现针对用户境外购物退税申请说明如下：
</p>
<br>
<h2>一、通汇货币主要职责：</h2> 
<p>
	1、通汇货币负责对退税申请人提交的退税单据真实性、准确性和完整性进行审核。<br>
	2、通汇货币收到退税申请人单据，经审核认定为合格退税单据后，3-5个工作日内向财付通发出退款指令。<br>
	3、通汇货币在“退税通”平台上对退税申请人的退税单据预审状态不代表最终退税结果，最终审核结果以通汇货币收到退税申请人单据之后的审核结果为准。<br>
	4、退税申请人的退税单据因通汇货币初审确定为疑问单据的，退税申请人自行选用MAIL BACK 或COLLECT方式进行退税时，退税单据后续审核及付款由退税公司进行，因打款周期长造成的汇兑损益或不合格单据不予付款且不予退还风险由退税申请人自行承担。<br>
	5、如Global Blue，Premier ，Worldwide，Innova ，N. Tax Free S.p.A.退税公司的退税申请单标明退税金额为非欧元时，其退税款项境外退税公司会按照相应汇率将其转换为欧元，GLOBAL TAXFREE CO., LTD公司则会将韩元转换为美元，产生的汇兑损益由退税申请人承担。<br>
	6、使用通汇货币指定快递公司邮寄退税单据办理实时退税业务的退税申请人，将享受免费寄单服务，但因退税申请人个人原因导致交予通汇货币的退税单据错误或不齐全，需再次寄送产生的快递费用由退税申请人自行承担。任何因寄送过程中单据丢失或损毁造成的无法退税，由退税申请人自行承担责任。<br>
	7、通汇货币承诺第一时间使用 DHL 国际快递为退税申请人提供 COLLECT 退税单据邮寄服务，但因单据邮寄过程中造成的单据过期导致的无法退税，通汇货币不承担责任。<br>
	8、通汇货币邮寄退税单据往国外退税公司过程中造成单据丢失的，(因航班失事、恐怖活动、自然灾害等其他不可抗力原因造成的单据丢失除外)，通汇货币承担相应责任。<br>
	9、通汇货币处理 COLLECT 业务时，负责将退税单据邮寄并跟踪邮寄进度，同时向退税申请人提供相应邮寄单号，以便于退税申请人自行跟踪。寄出的退税单据一经退税公司签收，退税申请人需自行跟踪查询退税进度，任何因退税公司审核认定单据不合格而造成的无法退税及单据无法退回，其风险由退税申请人自行承担。<br>
</p>
<br>
<h2>二、财付通主要职责：</h2>
<p>
	1、财付通为退税申请人提供“退税通”平台服务，指引退税申请人填写退税相关信息，但不负责审核填写信息的真实性、准确性和完整性。<br>
	2、财付通仅为通汇货币与退税申请人之间办理退税业务提供支付结算服务支持，按照通汇货币的付款指令及时将退税款项划转至退税申请人的微信钱包中。<br>
	3、任何有关“退税通”平台的退税业务咨询与纠纷均由通汇货币和退税申请人自行处理，与财付通无关。<br>
</p>
<br>
<h2>三、境外购物退税申请相关名词说明：</h2>
<p>
1、实时退税：退税申请人通过财付通退税通平台办理退税业务时，通汇货币收到退税申请人寄来的退税单据且认定可以退税的，由通汇货币按照退税申请人事前确定的方式向其支付退税款项。<br>
2、MAILBACK 退税：退税申请人通过财付通退税通平台办理退税业务时，经通汇货币初步审核后确定为疑问单据的（或符合特殊商户规定的)，即为需办理 MAIL BACK退税的业务，通汇货币有权在退税单据上加盖 MAILBACK 章，表示该单据须经退税公司进一步审核，退税申请人需自行将退税单据邮寄至退税公司单据处理中心进行处理，后期审单打款流程由退税公司进行操作。退税公司审核单据合格后由其在20-40个工作日内按照退税申请人事前确定的方式向其支付退税款项；若退税公司审核单据不合格则不予退税且单据不予退回。<br>
3、 COLLECT 退税：退税申请人通过财付通退税通平台或APP办理退税业务时，通汇货币认定退税申请人单据需办理 MAIL BACK退税的，退税申请人可选择由通汇货币代为寄送该退税单据。<br>
4、*MAIL BACK 退税、COLLECT 退税业务只针对蓝联退税单据。<br>
</p>
</div>