<div class="guide">
	<h1 class="title">国外购物，国内退税，省时省心</h1>
	<article class="wrapper">
		<ul class="list">
			<li><span class="guide-1"></span><span class="txt">填写退税人信息</span></li>
			<li><span class="guide-2"></span><span class="txt">上传资料预审通过</span></li>
			<li><span class="guide-3"></span><span class="txt">顺丰快递上门取单免费邮寄</span></li>
			<li><span class="guide-4"></span><span class="txt">审核通过后打款到微信钱包</span></li>
		</ul>
	</article>
</div>
<div class="btn-line">
	<a href="javascript:" class="submit btn-green">开始退税</a>
</div>