
<% var Countries = ['德国', '法国', '荷兰', '西班牙', '意大利', '英国', '希腊', '爱尔兰', '爱沙尼亚', '奥地利', '比利时', '冰岛', '波兰', '芬兰', '捷克', '克罗地亚', '拉脱维亚', '卢森堡', '立陶宛', '挪威', '葡萄牙', '瑞典', '瑞士', '斯洛伐克', '斯洛文尼亚', '匈牙利', '丹麦', '阿根廷', '乌拉圭', '新加坡', '韩国', '日本', '土耳其', '黎巴嫩', '摩洛哥'] %>
<div class="apply-receipt">
	<form action="" class="form">
		
		<p class="title">快递上门取单据凭证，请填写上门取单地址</p>
		<div class="mlines">
			<div class="form-line textarea-form-line">
				<div class="lab">地址</div>
				<textarea name="addr" type="text" class="text address-line" placeholder="请添加上门取单地址" value=""/>
			</div>
		</div>
		<div class="checkbox-line">
			<label for=""><input class="hide" type="checkbox" checked=""><span class="checkbox on"></span><a href="#agreement">同意《退税声明》</a></label><!-- 选中给.checkbox加class"on" -->
		</div>
		<div class="btn-line">
			<a href="javascript:;" class="btn-green submit">提交</a>
		</div>
	</form>
</div>