<div class="apply-ok">
	<img src="/images/ico_ok_96.png" alt="到账图标" width="48" height="48">
	<h1 class="title">您的退税单已经提交成功</h1>	
	<p class="desc">
		<span class="line">退税类型为<%= type===1?'授权':'个人' %>退税</span>
		<span class="line">1. 请您将退税单和购物小票的照片或者扫描件回复至公众账号内，等待审核结果</span>
		<span class="line">2. 审核通过后，您可以直接拨打顺丰上门收件电话：4008111111上门收取快件（免费到付方式）</span>
		<span class="line">3. 需要邮寄的单据包括：退税单原件、购物小票、护照和身份证复印件</span>
	</p>
	<p class="desc2">我们将尽快为您处理！</p>		
	<div class="btn-line">
		<a href="/pages/record.html" class="btn-green">查看退税申请单</a>
	</div>
</div>